<h1>Ingredients index page </h1>

<ul>
    <% @ingredients.each do |ing| %> 
        <li><%= link_to ing.name, ingredient_path(ing) %> -Amount of people with this allergy: <%= ing.allergies.order("user_id_count ASC").count %></li>
    <% end %> 
</ul>



